@model AdvertSite.Models.LocalPasswordModel

<h3>Смена пароля</h3>
<p class="message-success">@ViewBag.StatusMessage</p>

@using (Html.BeginForm("ChangePassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="control-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Введите текущий пароль", @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.NewPassword, new { placeholder = "Введите новый пароль", @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
        <div class="controls">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Подтверлите новый пароль", @class = "input-xlarge" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="submit"></label>
        <div class="controls">
            <button id="submit" name="submit" class="btn btn-primary">Изменить пароль</button>
        </div>
    </div>

}
